<div class="row">
  <div class="col-2"></div>
  <div class="col-8">

    <form>
      <div class="row">
        <div class="col"></div>
        <div class="col"><label class="form-label ">Thông tin bảo hiểm FPT core</label></div>
        <div class="col"></div>
      </div>
      <div class="mb-3">
        <label class="form-label">Họ tên</label>
        <input type="text" ng-model="inputValue.ten" class="form-control">
        <p ng-if="kiemtra.ten==true">Vui lòng nhập tên</p>
      </div>
      <div class="mb-3">
        <label class="form-label">Giới tính</label>

        <div class="form-check form-check-inline">
          <input class="form-check-input" ng-model="gt" type="radio" name="inlineRadioOptions" value="1">
          <label class="form-check-label">Nam</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" ng-model="gt" type="radio" name="inlineRadioOptions" value="0">
          <label class="form-check-label">Nữ</label>
        </div>
      </div>
      
      <div class="mb-3">
        <label class="form-label">Cấp bậc</label>
        <select class="form-select" ng-model="bac">
          <option value="1" selected>One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">Số ngày nằm viện</label>
        <input type="number" ng-model="inputValue.ngay" class="form-control">
        <p ng-if="kiemtra.ngay==true">Vui lòng nhập ngày </p>

      </div>

      <button type="submit" ng-click="check()" class="btn btn-primary">Submit</button>
    </form>
    <p ng-if="kiemtra.ngay==false">{{gennder}}</p>
  </div>
  <div class="col-2"></div>
</div>